<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
	layout:decorator="plantillas/mainLayout">

	<head>
		 	
		
			
			
	</head>

	<body>

		<!-- Encabezado -->

	
		<!-- Contenido principal -->
		<div layout:fragment="contenido" class="container">
		<div class="container">
			<!-- Título -->

			<h3 style="margin:0"><span class="i-estructura text-danger"></span> Alta Usuario</h3>&nbsp;
			<form id="formRegistroUsuario" class="form-horizontal" style="role:form">
					<input  type="hidden" th:if="${usuario!= null and usuario.usuarioDatosVO != null }"  name="usuarioDatosVO.idUsuarioDatos"  th:value="${usuario.usuarioDatosVO.idUsuarioDatos}" ></input>
					<input type="hidden" name="idUsuario"  th:value="${usuario.idUsuario}" ></input>
					<div class="row">
					<div class="col-md-12">
					<div class="panel panel-danger">
					<div class="panel-heading"><div class="panel-title"><h4 class="text-danger"><a href="javascript:void(0)">Datos de identificacion del usuario</a></h4></div></div>
					<div class="panel-body form-horizontal">
					<!-- seccion de nombre de usuario -->
					<div class="form-group">
									<div class="col-md-2 control-label">
									<label for="nombre" th:text="#{USUARIO_ADMIN.NOMBRE_USUARIO}">Usuario</label>
		    						<span title="" data-placement="bottom" class="glyphicon glyphicon-asterisk ctooltip" data-original-title="Campo obligatorio"></span>
		    						</div>				
									<div class="col-md-4">
											<input th:classappend="${usuario.idUsuario != null }? lectura " maxlength="64" type="text" class="form-control" name="nombreUsuario" id="nombreUsuario"
											th:value="${usuario.nombreUsuario}"></input>
									
									</div>
									<div class="col-md-2 control-label">
									<label for="nombre" 
		    								th:text="#{USUARIO_ADMIN.NOMBRE_COMPLETO}">Nombre</label>
		    						<span title="" data-placement="bottom" class="glyphicon glyphicon-asterisk ctooltip" data-original-title="Campo obligatorio"></span>
		    						</div>							
									<div class="col-md-4">
											<input maxlength="50" type="text" class="form-control" name="usuarioDatosVO.nombre" id="nombreCompleto"
											th:value="${usuario.usuarioDatosVO.nombre}"></input>
											
									</div>
									
						</div>
						<!-- Seccion de apellidos de usuario -->
						<div class="form-group">
						
									<div class="col-md-2 control-label">
									<label for="apellidoPaterno"
		    								th:text="#{USUARIO_ADMIN.APELLIDO_PAT}">Apellido paterno</label>
		    						<span title="" data-placement="bottom" class="glyphicon glyphicon-asterisk ctooltip ctooltip" data-original-title="Campo obligatorio"></span>
		    						</div>
		    												
									<div class="col-md-4">
											<input maxlength="50" type="text" class="form-control" name="usuarioDatosVO.apellidoPaterno" id="apellidoPaterno"
											th:value="${usuario.usuarioDatosVO.apellidoPaterno}"></input>
									
									</div>
									<label for="apellidoMaterno" class="col-md-2 control-label"
		    								th:text="#{USUARIO_ADMIN.APELLIDO_MAT}">Apellido materno</label>							
									<div class="col-md-4">
											<input  maxlength="50" type="text" class="form-control" name="usuarioDatosVO.apellidoMaterno" id="apellidoMaterno"
											th:value="${usuario.usuarioDatosVO.apellidoMaterno}"></input>
									</div>
									
									
									
						
						</div>
						
						<!-- Seccion de correo eletronico -->
						<div class="form-group" >
						
									<div class="col-md-2 control-label">
									<label for="nombre" 
		    								th:text="#{USUARIO_ADMIN.CORREO_ELECTRONICO}">Correo electronico</label>
		    						<span title="" data-placement="bottom" class="glyphicon glyphicon-asterisk ctooltip" data-original-title="Campo obligatorio"></span>
		    								
		    						</div>
		    						
		    						
		    													
									<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-addon">@</div>
										<input maxlength="50" type="text" class="form-control" name="usuarioDatosVO.correoElectronico" id="correoElectronico"
											th:value="${usuario.usuarioDatosVO.correoElectronico}"></input>
									</div>
									
									</div>
						</div>
						
						</div>
						</div>
						</div>
			
						</div><!-- fin de la fila  -->
						<div class="row">
						<div class="col-md-12">
						<div class="panel panel-danger">
						<div class="panel-heading"><div class="panel-title"><h4 class="text-danger">
						<a href="javascript:void(0)">Perfil(es) de usuario</a></h4>
						</div>
						</div>
						<div class="panel-body form-horizontal">
						<div class="form-group">
										<div class="col-md-2 control-label">
										<label for="unidades" th:text="#{USUARIO_ADMIN.PERFILES}">Perfiles</label>
										<span title="" data-placement="bottom" class="glyphicon glyphicon-asterisk ctooltip" data-original-title="Campo obligatorio"></span>
										</div>
										 <div class="col-md-4">
										  <div class="form-group">
					    							
					    						    <select data-placeholder="Seleccione..." id="perfiles" name="listaPerfilesId" multiple="multiple"
					    						    th:field="${usuario.listaPerfilesId}"
				    								class="chosen" >
										                   <option th:each="perfilItem: ${listaCatalogoPerfiles}"
															th:value="${perfilItem.idPerfil}"
															th:text="${perfilItem.descripcion}"></option>
												  	</select>
												
											</div>	
										  </div>
										
						</div>
						</div>
						</div>
						</div>
						</div>
						
						<!-- seccion para error global -->
						<div id="errorGlobal" class="alert alert-danger alert-dismissable" role="alert">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
							<i class="i-no"></i>
						</div>
						
						
						<!-- Seccion para  -->
						<input type="hidden" name="password" th:value="${usuario.password}" ></input>
						<input type="hidden" class="form-control" name="activo" th:value="${usuario.activo}" id="activo"></input>
						
						<!-- seccion de botones y  mensaje de exito -->
						<div class="row">	
						<div class="col-md-12">
							<p>&nbsp;</p>
							<div class="alert alert-success text-center">
							<button type="button" class="btn btn-md btn-danger" style="font-size:15px;padding:20px 50px"  id="btn-cancelar">
							<span class="glyphicon glyphicon glyphicon-log-out"></span> Cancelar</button>
							<button type="button" class="btn btn-md btn-success" style="font-size:15px;padding:20px 50px" data-style="expand-left"  id="btn-guardar" >
							<span class="glyphicon glyphicon-floppy-disk" ></span> Guardar</button>
							</div>
						</div>
						</div>
			</form>

		</div>

	
	</div>
	<th:block layout:fragment="includeCSS" th:remove="tag">
	<link rel="stylesheet"
			  th:href="@{/recursos/assets/chosen/css/chosen.css}" 
			  href="../../../recursos/assets/chosen/css/chosen.css"></link>
	</th:block>
	<th:block layout:fragment="includeScript" th:remove="tag">
		<script type="text/javascript"
				th:src="@{/recursos/js/administracion/usuarios/altaUsuario.js}"></script>
		<script type="text/javascript"
				th:src="@{/recursos/assets/chosen/script/chosen.js}"></script>
		<script type="text/javascript">
				$(document).ready(function(){
					registrarUsuario.init();
				});
			</script>
	</th:block>	
	
	
	</body>
	

</html>