<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <title th:text="#{TITULO}"></title>

        <meta http-equiv="Cache-Control"
              content="no-cache, no-store, must-revalidate"></meta>
        <meta http-equiv="Pragma" content="no-cache"></meta>
        <meta http-equiv="Expires" content="-1"></meta>
 
        <link rel="stylesheet" th:href="@{/recursos/assets/base/plugins/bootstrap/css/bootstrap.min.css}"></link>  
        <link th:href="@{/recursos/imagenes/icono/favicon.ico}"  rel="shortcut icon" type="image/x-icon"></link>		
		<link rel="icon" type="image/x-icon" th:href="@{/recursos/imagenes/icono/favicon.ico}"></link>
		<link rel="stylesheet" th:href="@{/recursos/css/error/error.css}"></link>  
    </head>
    
     <body>
        <div class="panel-error">
        	<div class="container">
	        	<div class="col-md-12">
	        		<div class="col-md-offset-4 col-md-4"> 
			        	<div class="panel panel-danger">
							  <div class="panel-heading">							  	 
							    <h3 class="panel-title" >
							    	<i class="fa fa-exclamation-triangle"></i>
							    	<span th:text="#{ERROR_500.TITULO}"></span>	
							    </h3>
							  </div>
							  <div class="panel-body error">
							  	<div class="col-md-12">
							  		<div class="col-md-12">
							  			<span th:text="#{ERROR_500.MENSAJE}"></span>
							  		</div>
							  		<div class="col-md-offset-1 col-md-11">
							  			<a class="hipervinculo_inicio" th:href="@{/}" th:text="#{ERROR_500.HIPERVINCULO_INICIO}"></a>
							  		</div>
							  	</div>							  		
							  </div>
						</div>
					</div>
	        	</div>	        	
        	</div>
        </div>
   </body>
</html>