<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="plantillas/mainLayout" ng-app="appRenap">
<head>
<title th:text="#{MAIN_TITLE}"></title>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript"
	th:src="@{/recursos/js/angular/bitacora/bitacora.js}"></script>
</head>

<body layout:fragment="contenido" th:remove="tag">
	<div class="container" ng-controller="BitacoraController">
		<div class="row top-buffer">
			<div class="col-sm-8">
				<ol class="breadcrumb">
					<li><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
					<li><a th:href="@{/}">Renap</a></li>
					<li class="active">Consultar bit&aacute;cora</li>
				</ol>
			</div>
			<div class="col-sm-4">
				<div class="user-credencials">
					<ul class="list-unstyled">
						<li><span th:text="${session.NOMBRE_COMPLETO}"></span> &nbsp;
							&nbsp;<a
							href="javascript:document.getElementById('logout').submit();"
							th:text="#{LOGIN_SALIR}"></a></li>
						<li><span class="small">Entidad: <span
								th:text="${session.NOMBRE_DEPENDECIA}"></span> &nbsp;Perfil:
								Administrador
						</span></li>
					</ul>
					<form th:action="@{/j_spring_security_logout}" id="logout"
						method="post"></form>
				</div>
			</div>
		</div>
		<br></br>
		<div class="row">
			<div class="col-sm-12">
				<h3>Consultar bit&aacute;coras</h3>
				<hr class="red"></hr>
			</div>
		</div>
		<div class="alert {{tipoAlerta}} alert-dismissible"
			style="display: {{resultMesagge}}">
			<strong>{{headTextMesagge}}</strong> {{textMesagge}}.
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a href="#collapse2" class="btn btn-default btn-xs"
					data-toggle="collapse" data-parent="#accordion"><span
					class="glyphicon glyphicon-filter"></span>&nbsp;Filtros de
					b&uacute;squeda</a>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<form role="form">
							<div class="form-group datepicker-group col-sm-4">
								<label class="control-label" for="cDesde">Desde:</label> <input
									class="form-control" id="cDesde" type="text"/><span
									class="glyphicon glyphicon-calendar" aria-hidden="true"
									placeholder="dd/MM/yyyy" maxlength="10"></span>
							</div>
							<div class="form-group datepicker-group col-sm-4">
								<label class="control-label" for="cHasta">Hasta:</label> <input
									class="form-control" id="cHasta" type="text"/> <span
									class="glyphicon glyphicon-calendar" aria-hidden="true"
									placeholder="dd/MM/yyyy" maxlength="10"></span>
							</div>
							<div class="form-group col-sm-4">
								<label class="control-label" for="email-03">Perfil:</label> <select
									class="form-control" id="slcPerfil">
									<option value="">Seleccione una opci&oacute;n</option>
									<option th:each="lp : ${lstPerfil}" th:value="${lp.idCPerfil}"
										th:text="${lp.perfil}"></option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<label class="control-label" for="email-03">Tipo de
									acci&oacute;n:</label> <select class="form-control" id="slcAccion">
									<option value="">Seleccione una opci&oacute;n</option>
									<option th:each="ltp : ${lstTipoAccion}"
										th:value="${ltp.idCTipoAccion}" th:text="${ltp.tipoAccion}"></option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<label class="control-label" for="email-03">Entidad
									federativa:</label> <select class="form-control" id="slcEntidad">
									<option value="">Seleccione una opci&oacute;n</option>
									<option th:each="e : ${lstEntidad}" th:value="${e.idCEntFed}"
										th:text="${e.entFed}"></option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<label class="control-label" for="email-03">Usuarios:</label> <select
									class="form-control" id="slcUsuarios">
									<option value="">Seleccione una opci&oacute;n</option>
									<option th:each="u : ${lstUsuarios}" th:value="${u[0]}"
										th:text="${u[1]}"></option>
								</select>
							</div>
							<div class="row">
								<button class="btn btn-primary pull-right" type="button"
									ng-click="getListFilter()">Consultar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br></br>
		<div id="row">
			<div class="table-responsive">
				<div
					style="width: 100%; height: 480px; overflow-x: scroll; overflow-y: scroll;">
					<table id="tableUsuario"
						class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>Usuario</th>
								<th>Perfil</th>
								<th>Resumen de acci&oacute;n</th>
								<th>Fecha</th>
								<th>Hora</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody ng-show="objBitacora == null">
							<tr th:each="lst  : ${lstBitacora}">
								<td th:text="${lst.usuario}"></td>
								<td th:text="${lst.perfil}"></td>
								<td th:text="${lst.accion}"></td>
								<td th:text="${lst.fecha}"></td>
								<td th:text="${lst.hora}"></td>
								<td class="text-center"><div class="btn-group btn-group-xs">
										<a
											th:href="@{/modules/bitacora/detalle/{idRegistro}  (idRegistro = ${lst.idHBitacora})}"
											class="btn btn-default btn-xs glyphicon glyphicon-eye-open"
											title="Detalle" role="button"></a>
									</div></td>
							</tr>
						</tbody>
						<tbody ng-show="objBitacora != null">
							<tr ng-repeat="lst in objBitacora">
								<td>{{lst.usuario}}</td>
								<td>{{lst.perfil}}</td>
								<td>{{lst.accion}}</td>
								<td>{{lst.fecha}}</td>
								<td>{{lst.hora}}</td>
								<td class="text-center"><div class="btn-group btn-group-xs">
										<a href="renap/modules/bitacora/detalle/{{lst.idHBitacora}}"
											class="btn btn-default btn-xs glyphicon glyphicon-eye-open"
											title="Detalle" role="button"></a>
									</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />
		</div>
	</div>
	<script type="text/javascript"
		src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
	<script type="text/javascript"
		src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>
	<script>
		$gmx(document)
				.ready(
						function() {
							$.datepicker.regional.es = {
								closeText : 'Cerrar',
								prevText : 'Ant',
								nextText : 'Sig',
								currentText : 'Hoy',
								monthNames : [ 'Enero', 'Febrero', 'Marzo',
										'Abril', 'Mayo', 'Junio', 'Julio',
										'Agosto', 'Septiembre', 'Octubre',
										'Noviembre', 'Diciembre' ],
								monthNamesShort : [ 'Ene', 'Feb', 'Mar', 'Abr',
										'May', 'Jun', 'Jul', 'Ago', 'Sep',
										'Oct', 'Nov', 'Dic' ],
								dayNames : [ 'Domingo', 'Lunes', 'Martes',
										'Mi&eacute;rcoles', 'Jueves',
										'Viernes', 'S&aacute;bado' ],
								dayNamesShort : [ 'Dom', 'Lun', 'Mar',
										'Mi&eacute;', 'Juv', 'Vie',
										'S&aacute;b' ],
								dayNamesMin : [ 'Dom', 'Lun', 'Mar', 'Mie',
										'Jue', 'Vie', 'S&aacute;b' ],
								weekHeader : 'Sm',
								dateFormat : 'dd/mm/yy',
								firstDay : 1,
								isRTL : false,
								showMonthAfterYear : false,
								yearSuffix : ''
							};
							$.datepicker.setDefaults($.datepicker.regional.es);
							$("#cDesde").datepicker();
							$("#cHasta").datepicker();
						});
	</script>
</body>
</html>