<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="plantillas/mainLayout">
	<head>
		<title th:text="#{BITACORA_ADMIN.TITULO}"></title>			
	</head>
	<body>	

		<th:block layout:fragment="contenido" th:remove="tag">
			<div class="container">
				<div class="row">
					<div class="col-md-10 h2">
						<i class="text-danger"></i><span
							th:text="#{BITACORA_ADMIN.TITULO}"></span>
					</div>
				</div>
				<form id="formBitacora" method="post" class="form-horizontal"
					style="role: form">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a data-toggle="collapse" href="#collapse1"
								th:text="#{COMUN_BUSQUEDA}"></a>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="form-group">
									<label for="servicio" class="col-md-offset-1 col-md-3 control-label" 
									th:text="#{BITACORA_ADMIN.USUARIO}"></label>
									<div class="col-md-5">
										<input maxlength="50" 
											type="text" 
											class="form-control"
											name="idUsuario" id="idUsuario" 
											th:placeholder="#{BITACORA_ADMIN.USUARIO}"></input>
									</div>
								</div>
								<div class="row">
									<div class="col-md-offset-10 col-md-2">
										<button type="button" 
											id="btn-buscar"
											class="btn btn-danger btn-block">
											<span th:text="#{COMUN_BUSCAR}"></span>
										</button>	
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</form>
				<div class="margin-bottom-5"></div>
            	<div class="panel panel-grey margin-bottom-40">
	            	<div class="panel-heading">
	                    <h3 class="panel-title">&nbsp;</h3>
	                </div>
	                <div class="panel-body">
	                    <table class="table" id="tableBitacora">
	                        <thead>				
	                            <tr>
	                                <th th:text="#{BITACORA_ADMIN.TABLA.NOMBRE_USUARIO}"></th>
	                                <th th:text="#{BITACORA_ADMIN.TABLA.OPERACION}"></th>                        
	                                <th th:text="#{BITACORA_ADMIN.TABLA.FECHA}"></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        </tbody>
	                    </table>
                	</div>
            	</div>
			</div>
		</th:block>
		
		<th:block layout:fragment="includeCSS" th:remove="tag"></th:block>
		<th:block layout:fragment="includeScript" th:remove="tag">
			<script type="text/javascript"  th:src="@{/recursos/js/administracion/bitacora/administracionBitacora.js}"></script>	
			<script type="text/javascript">
				$(document).ready(function(){
					administracionBitacora.init();
				});
			</script>	
		</th:block>
	</body>
</html>